/* body */
body {
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
}

/*ヘッダー*/
header {
    /*ヘッダーのスタイル*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 30px;

    a.logo {
        /*ロゴのスタイル*/
        display: block;

        img {
            /*画像のスタイル*/
            display: block;
            height: 60px;
        }
    }

    nav {
        ul {
            /*リストブロックのスタイル*/
            display: flex;
            height: 20px;
            gap: 50px;

            li {
                align-items: center;
            }
        }

        a {
            /*aタグのスタイル*/
            font-size: 14px;
            font-weight: 400;
            display: block;
            padding-inline: 10px;

            &:hover {
                text-decoration: underline;
                color: blue;
            }
        }
    }
}

/* ヒーローセクション */
.hero {
    height: 640px;
    background-image: url(img/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    /* h2のスタイル */
    h2 {
        font-size: 48px;
        font-weight: 700;
    }

    /* pのスタイル */
    p {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    /* スクロールボタンのスタイル */
    a {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #6a9631;
        position: absolute;
        left: 50%;
        bottom: 0;
        translate: -50% 50%;
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
        display: grid;
        place-items: center;

        img {
            width: 24px;
            height: 24px;
            fill: #fff;
        }
    }
}


/* メインのスタイル */
main {
}

/* containerのスタイル */
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 40px;
}

/* main-sectionのスタイル */
.main-section {
    padding: 80px 0 100px;
    /* heading-groupのスタイル */
    .heading-group {
        text-align: center;
        margin: 0 0 60px;
        h2 {
            color: #8B7452;
            font-size: 40px;
            font-weight: 700;
        }
        span {
            display: block;
            font-size: 14px;
            font-weight: 400;
            color: #222;
            letter-spacing: 0.08em;
            margin-top: 10px;
        }
        &::after {
            content: "";
            width: 40px;
            height: 4px;
            background-color: #6a9631;
            display: block;
            border-radius: 4px;
            margin: 30px auto 0;
        }
    }
}

/* aboutのスタイル */
.about {
    .layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: start;
    }
    .image {
        overflow: hidden;
        border-radius: 40px;
        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 5 / 4;
        }
    }
    .text {
        img {
            height: 60px;
        }
        h3 {
            font-size: 28px;
            font-weight: bold;
            margin-top: 20px;
        }
        p {
            font-size: 16px;
            letter-spacing: 0.08rem;
            margin-top: 20px;
        }
    }
}